/*.................language.................*/

body.about div.lan div {
	background-color: white;
	opacity: 0.9;
	border: 1px solid white;
	border-radius: 25px;
	margin-left: 3px;
}

body.about div.lan div a {
	color          : blue;
	display        : block;
	padding        : 7px 5px 3px;
	font-size      : 14px;
	letter-spacing : -1px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      : rtl;
}

body.about div.lan div :hover {
	color          : darkorange;
}

/*...................font..............*/

@font-face {
	font-family: 'Nazanin';
	src        : url('fonts/BNazanin.eot');
	src        : url('fonts/BNazanin.eot?#iefix') format('embedded-opentype'),
	url('fonts/BNazanin.woff') format('woff'),
	url('fonts/BNazanin.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
}

@font-face {
	font-family: 'davat';
	src        : url('fonts/BDavat.eot');
	src        : url('fonts/BDavat.eot?#iefix') format('embedded-opentype'),
	url('fonts/BDavat.woff') format('woff'),
	url('fonts/BDavat.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
}

body.about  {
	font-family: 'Nazanin', Arial, sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-font-smoothing : antialiased;
	-o-font-smoothing : antialiased;
	-ms-font-smoothing : antialiased;
	background:url('images/noise.png') repeat left top,url('images/bg.jpg') repeat-x left top;
}

/*........................logo........................*/

body.about header div.logo {
	background-image : url('images/logo20.png');
	background-repeat: no-repeat;
	width            : 198px;
	height           : 153px;
}

/*..................menu...................*/

body.about header div.upmenu nav.menutop menu {
	margin-top: 45px;
	z-index: 5;
}

body.about header div.upmenu nav.menutop li {
	float             : right;
	position          : relative;
	-webkit-transition: all 300ms;
	-moz-transition   : top 200ms;
	-ms-transition    : top 200ms;
	-o-transition     : top 200ms;
	transition        : top 200ms;
	z-index: 5;
}

body.about nav.menutop li:first-child {
	margin-left : none;
}

body.about nav.menutop li:hover {
	text-shadow: 1px 0px 1px #78c8dc;
}

body.about header nav.menutop menu li a {
	display:block;
	color:black;
	font-size:18px;
	padding:7px 10px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	text-decoration:none;
	font-family: Yekan, Arial, Helvetica, sans-serif;
	transition:all 300ms;
	-webkit-transition:all 300ms;	
	-moz-transition:all 300ms;	
	-o-transition:all 300ms;	
	-ms-transition:all 300ms;
}

body.about header nav.menutop menu li a:hover {
	background-color:white;	
}

body.about header div.upmenu nav.menutop menu li:hover div.menuline {
	background-color: #5F9FCB;
	opacity         : 0.7;
	border          : 0px;
}

body.about nav.menutop menu li {
	position : absolute;
	right    : 0;
	top      : 60%;
	z-index  : +2;
}

body.about nav.menutop li:hover menu {
	display   : block;
}

body.about nav.menutop li li {
	float     : none;
	background: #5F9FCB;
	border    : none;
	border-top: 1px dashed white;
	min-width : 100px;
	min-height: 30px;
	opacity   : 0.8;
}

/*................content....................*/

/*content..........................................................*/

body.about div.content {
	min-height: 650px;
}

body.about div.content img {
	border: 5px solid darkblue;
	border-radius: 5px;
	margin-left: 90px;
}

body.about div.content section.text {
	float: left;
	width: 550px;
	height: 350px;
	margin-left: 100px;
	margin-top: 20px;
}

body.about div.content section.text article h2 {
	font-size: 22px;
	font-family:  Arial, Helvetica, sans-serif;
	color: red;
	margin-bottom: 20px;
	margin-top: 50px;
	text-align: center;
}

body.about div.content section.text article p {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
	margin-bottom: 5px;
	margin-top: 20px;
}

/*....................copyright...................*/

body.about footer {
	border-top: 1px solid #EDEDED;
	margin-bottom: 10px;
}

body.about footer div.copyright h3 {
	color          : darkblue;
	font-size      : 18px;
	letter-spacing : 1px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      :rtl;
	text-align     : center;
	font-family    : 'davat', Arial, sans-serif;
	margin-right: 70px;
}

body.about footer div.follow {
	margin-left:490px;	
	width:auto;
	height:50px;
}

body.about div.under p {
	color: white;
	opacity: .4;
}

body.about  hr {
	opacity: .4;
}

body.about .noise {
	background-image   : url('images/noise.png');
	background-repeat  : repeat;
	background-position: left top;
	bottom             : 0;
	top                : 0;
	right              : 0;
	left               : 0;
	position           : fixed;
	z-index            :-1;
}