/*.................language.................*/
body.services div.language {
	margin-left: 120px;
}

body.services div.lan div {
	background-color: white;
	opacity: 0.9;
	border: 1px solid white;
	border-radius: 25px;
	margin-left: 3px;
}

body.services div.lan div a {
	color          : blue;
	display        : block;
	padding        : 7px 5px 3px;
	font-size      : 14px;
	letter-spacing : -1px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      : rtl;
}

body.services div.lan div :hover {
	color          : darkorange;
}

/*...................font..............*/

body.services @font-face {
	font-family: 'Nazanin';
	src        : url('fonts/BNazanin.eot');
	src        : url('fonts/BNazanin.eot?#iefix') format('embedded-opentype'),
	url('fonts/BNazanin.woff') format('woff'),
	url('fonts/BNazanin.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
}

body.services @font-face {
	font-family: 'davat';
	src        : url('fonts/BDavat.eot');
	src        : url('fonts/BDavat.eot?#iefix') format('embedded-opentype'),
	url('fonts/BDavat.woff') format('woff'),
	url('fonts/BDavat.ttf') format('truetype');
	font-weight: normal;
	font-style : normal;
}

body.services {
	font-family: 'Nazanin', Arial, sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-font-smoothing : antialiased;
	-o-font-smoothing : antialiased;
	-ms-font-smoothing : antialiased;
	background:url('images/noise.png') repeat left top,url('images/backimg.png') repeat-y,url('images/bg1.jpg') repeat-x left top;
}

/*........................logo........................*/

body.services header div.logo {
	background-image : url('images/logo20.png');
	background-repeat: no-repeat;
	width            : 198px;
	height           : 153px;
}

/*..................menu...................*/

body.services header  nav menu {
	margin-top: 45px;
	z-index: 5;
}

body.services header nav li {
	float             : right;
	position          : relative;
	-webkit-transition: all 300ms;
	-moz-transition   : top 200ms;
	-ms-transition    : top 200ms;
	-o-transition     : top 200ms;
	transition        : top 200ms;
	z-index: 5;
}

body.services nav li:first-child {
	margin-left : none;
}

body.services nav li:hover {
	text-shadow: 1px 0px 1px #78c8dc;
}

body.services header nav menu li a {
	display:block;
	color:black;
	font-size:18px;
	padding:7px 10px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	text-decoration:none;
	font-family: Yekan, Arial, Helvetica, sans-serif;
	transition:all 300ms;
	-webkit-transition:all 300ms;	
	-moz-transition:all 300ms;	
	-o-transition:all 300ms;	
	-ms-transition:all 300ms;
}

body.services header nav menu li a:hover {
	background-color:white;	
}

body.services nav li:hover menu {
	display   : block;
}

body.services nav li li {
	float     : none;
	background: #5F9FCB;
	border    : none;
	border-top: 1px dashed white;
	min-width : 100px;
	min-height: 30px;
	opacity   : 0.8;
}
/*................content....................*/

/*content..........................................................*/

body.services div.container-content {
	min-height: 650px;
}

body.services div.container-content img {
	border: 5px solid darkblue;
	border-radius: 5px;
	margin-left: 90px;
}

body.about div.container-content section.text {
	float: left;
	width: 550px;
	height: 350px;
	margin-left: 100px;
	margin-top: 20px;
}

body.services div.container-content section.text article h2 {
	font-size: 22px;
	font-family:  Arial, Helvetica, sans-serif;
	color: red;
	margin-bottom: 20px;
	margin-top: 50px;
	text-align: center;
}

body.services div.container-content section.text article p {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
	margin-bottom: 5px;
	margin-top: 20px;
}

/*....................copyright...................*/

body.services footer {
	border-top: 1px solid #EDEDED;
	margin-bottom: 10px;
}

body.services footer p.copy {
	color          : darkblue;
	font-size      : 18px;
	letter-spacing : 1px;
	text-transform : capitalize;
	text-decoration: none;
	white-space    : nowrap;
	direction      :rtl;
	text-align     : center;
	font-family    : 'davat', Arial, sans-serif;
	margin-right: 70px;
}

body.services footer div.follow {
	margin-left:490px;	
	width:auto;
	height:50px;
}

body.services div.under p {
	color: white;
	opacity: .4;
}

body.services  hr {
	opacity: .4;
}

body.services .noise {
	background-image   : url('images/noise.png');
	background-repeat  : repeat;
	background-position: left top;
	bottom             : 0;
	top                : 0;
	right              : 0;
	left               : 0;
	position           : fixed;
	z-index            :-1;
}

body.services div.fade {
	background:url('images/fade-1.png') repeat-x;
}

body.services div.container-content img {
	background:url('images/fade-1.png') repeat-x;
}